<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="DiaryEntryDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DiaryEntryDB;Integrated Security=False;Connect Timeout=30;Encrypt=False;" providerName="System.Data.SqlClient"/>
		<add name="master"
				connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=False;Connect Timeout=30;Encrypt=False;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
</configuration>